﻿@model ElectionViewModel

@if (Model.IsOpen)
{
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-2">
            @Html.FlagImage(Url, Model.CountryFlagFileName, width: 150, height: 100)
        </div>
        <div style="vertical-align: middle;">
            <h1>@Html.Encode(Model.Name)</h1>
            <h4>@Html.Encode(Model.Description)</h4>
        </div>
    </div>
    <hr />

    @foreach (var candidate in Model.Candidates)
    {
        <div class="row" style="margin-left: 30px;">
            <div class="col-md-2">
                @Html.CandidateImage(this.Url, candidate.PhotoFileName, width: 150, height: 150)
            </div>
            <div style="vertical-align: middle;">
                <h1>@Html.Encode($"{candidate.FirstName} {candidate.LastName} {candidate.SecondName}")</h1>
                <h4>@Html.Encode($"Party: {candidate.Party.Name}")</h4>
            </div>
        </div>
    }
}