﻿@model ElectionListViewModel

@if (Model.Elections.Count > 0)
{
    var taken = 0;
    while (taken < Model.Elections.Count)
    {
        var currentStart = Model.Elections.Skip(taken).Take(3);
        taken += 3;

        if (currentStart.Count() > 0)
        {
            <div class="row flex-row" style="text-align: center; margin-top: 15px;">
                @foreach (var election in currentStart)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            @Html.FlagImage(Url, election.CountryFlagFileName, "margin-top: 15px;")
                            <div class="caption">
                                <div class="flex-text" style="margin-bottom: 15px;">
                                    <h2>@Html.Encode(election.Name)</h2>
                                    <p>@Html.Encode(election.Description)</p>
                                </div>
                                <p style="text-align: center;">
                                    @if (election.IsOpen)
                                    {
                                        <a asp-controller="@ControllerName.Election" asp-action="@nameof(ElectionController.Details)" asp-route-electionId="@election.Id" class="btn btn-lg btn-success" role="button">Take part</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-lg btn-default disabled" role="button" style="align-items: baseline;">Voting closed</a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
}
else
{
    <div class="row" style="text-align: center;">
        <span class="fa fa-2x fa-thumbs-up"></span><h1> Hooray! No more elections to do</h1>
    </div>
}