﻿// Fix the Bootstrap font path so it points to wwwroot/fonts instead of wwwroot/fonts/bootstrap.
$icon-font-path: "../fonts/";

// Import the bootstrap SASS style-sheet so that it can be customized and variables overridden here.
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* Equal height columns hack*/

/* Flexbox Equal Height Bootstrap Columns (fully responsive) */
@media only screen and (min-width : 768px) {
    .flex-row.row {
    display: flex;
	    flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    }

    /* Grow thumbnails to fill columns height */
    .flex-row .thumbnail,
    .flex-row .caption {
	    display: flex;
	    flex: 1 0 auto;
	    flex-direction: column;
    }

    /* Flex Grow Text Container */
    .flex-row .caption p.flex-text {
	    flex-grow: 1;
    }

    .flex-text {
        min-height: 200px;
    }

    /* Flex Responsive Image */
    .flex-row img {
	    width: 100%;
	    height: auto;
    }
}

