Comments are not allowed in the config.json file (See http://blog.getify.com/json-comments/ for why this is silly), so
they are added here.

The config.json file is responsible for holding application settings and options. It is the replacement for the
appSettings configuration section contained in the web.config file in ASP.NET 4.6.

<ul>
    <li>
        AppSettings - Stores general settings for the application e.g. the sites name.
        <ul>
            <li>SiteTitle - The name of the site.</li>
            <li>SiteShortTitle - The short name of the site.</li>
        </ul>
    </li>
    <li>
        Logging - Settings for logging.
    </li>
    <li>
        CacheProfileSettings - Stores the cache profile settings for all cached actions in the application. Note that
        the VaryByParam = "none" does not exist in MVC 6 yet and will be added when it becomes available.
        <ul>
            <li>BrowserConfigXml - Cache the browserconfig route (/browserconfig.xml) for a day.</li>
            <li>Error - Cache the error route (/error/404/notfound) by status code for a day.</li>
            <li>ManifestJson - Cache the manifest route (/manifest.json) for a day.</li>
            <li>RobotsText - Cache the robots.txt route for a day.</li>
        </ul>
    </li>
</ul>
