@model VoterPhaseOneModel

@{
    ViewData["Title"] = "Index";
}

<h2>Vote</h2>

<table class="table">
    <tr>
        <th>
            Generated mark (M)
        </th>
        <th>
            Blinded mark (M')
        </th>
    </tr>
    <tr>
        <td id="mark">
        </td>
        <td id="blindedMark">
        </td>
    </tr>
</table>
<p>
    <a asp-action="PhaseTwo">Phase 2: Get blinded signature from server</a>
</p>
