﻿@model PhaseTwoViewModel

<h2>Blinded signature</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        <label asp-for="BlindedSignature" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="BlindedSignature" class="form-control"></textarea>
        </div>
    </div>
</div>