﻿@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="@ControllerName.Account" asp-action="@nameof(AccountController.LogOff)"  method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Welcome, @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="@ControllerName.Account" asp-action="@nameof(AccountController.Register)" s>Register</a></li>
        <li><a asp-controller="@ControllerName.Account" asp-action="@nameof(AccountController.Login)">Log in</a></li>
    </ul>
}
