@inject IOptions<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "About";
    ViewBag.Description = "The ASP.NET MVC Boilerplate about page.";
}

@section head
{
    <meta asp-referrer="ReferrerMode.OriginWhenCrossOrigin">
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-users"></span> @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>
