@inject IOptions<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "SecureVote";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "Secure voting platform";
}

@section head
{
    @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
    <meta asp-referrer="ReferrerMode.OriginWhenCrossOrigin">
}

<div class="row well" style="margin-top: 15px;">
        <article class="col-md-3" role="article">
            <header>
                <h2><span aria-hidden="true" class="fa fa-eye-slash"></span> Anonymous</h2>
            </header>
            <p>It is technically unfeasible to correlate the vote with a particular voter</p>
        </article>
        <article class="col-md-3" role="article">
            <header>
                <h2><span aria-hidden="true" class="fa fa-check"></span> Verifiable</h2>
            </header>
            <p>You can verify that your vote has been cast as you intended</p>
        </article>
        <article class="col-md-3" role="article">
            <header>
                <h2><span aria-hidden="true" class="fa fa-globe"></span> Scalable</h2>
            </header>
            <p>Moderate resource usage allows efficient handling of massive elections</p>
        </article>
        <article class="col-md-3" role="article">
            <header>
                <h2><span aria-hidden="true" class="fa fa-smile-o"></span> Fair</h2>
            </header>
            <p>Only one vote per election can be cast by an eligible voter</p>
        </article>
</div>

<div class="row" style="text-align:center;">
    <p><a asp-controller="@ControllerName.Election" asp-action="@nameof(ElectionController.Index)" class="btn btn-success btn-lg" role="button">Take my vote!</a></p>
</div>

@* Code in the scripts section below gets added at the bottom of the HTML body element, below other scripts. This
    section can be used to enter custom scripts specific to this page. *@
@section scripts
{
    <script asp-append-version="false" src="~/js/inline.js"></script>
}
